:root{
    --color-black: #0d0d0d;
    --color-red: #9e9e9e;
    --color-orange: #dfdfdf;
    --color-yellow: #f2e205;
    --color-wine: #73020c;
    
}

.body{
    background-color:var(--color-black);
}

.navar-color{
    background-color: var(--color-wine);
}

.a-color-name{
    color: var(--color-yellow);
}

.a-color{
    color: var(--color-wine);
}

.canvas-game{
    background-color: cadetblue;
    border: 2px solid white;
}